body{
    color: aqua;
    background: violet;

}

#camera{
    border: 2px dashed black;
    width: 350px;
    height: 300px;

}

.heading{
    width: 80%;
    font-size: 22px;
}

.name_of_the_objects,#result_object_name{
    color: yellow;

}